@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url("/portal/FONDO\ NEUTRO.png");
    transition:1s;
    background-size:cover;
    font-family: 'jersey 10';
   
}

.portal{

    text-align:center;
   

}
.portal h1{
    text-align:center;
    font-size:6rem;
    color:#362a2a;
    padding-bottom:9%;
    
}
.powers{

    display:grid;

    grid-template-columns:repeat(3,160px);

    gap:50px;

}
.info{
    margin:10%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    position:relative;
    left:50%;
    font-size:1rem;
    transform:translateX(-50%);
}

.info h2{
    font-size:3rem;
    margin-bottom:20px;
    color:#493535;
}
.info p{
    font-size:1.5rem;
    color:#493535;
}
.power{
    width:100%;
    height: 100%;

    position:absolute;
    top:0;
    left:0;

    border:none;
    border-radius:0;

    cursor:pointer;
    overflow:hidden;

    transition:.4s;

    backface-visibility:hidden;
    
}

.power img{

    width:100%;

    height:100%;

    object-fit:cover;

}


.power:active{

    transform:scale(.8);

}

.power:focus{

    outline:4px solid cyan;

}

.power span{

    display:block;

    font-size:20px;

}



.power.active::after{

    content:"activo";

    position:absolute;

    bottom:-35px;

    left:0;

    right:0;


    color:gold;

}
.card{
    width:190px;
    height:250px;
    perspective:1000px;
}

.card-inner{
    width:90%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    transition:transform .9s;
}

.flip{
    transform:rotateY(180deg);
}

.power,
.back{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    backface-visibility:hidden;
    overflow:hidden;
}

.back{
    transform:rotateY(180deg);
     overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:end;
    padding-bottom:40px;
    font-size:2rem;
    color:white;
    border-radius:10px;
    border:4px solid #493535;
    background:#2c1e1e;

}
.fire-theme{

 background-image:url("./ChatGPT\ Image\ 24\ jul\ 2026\,\ 05_20_29\ p.m..png");
 background-size:cover;
 background-position:center;
 background-repeat:no-repeat;
  
}

.ice-theme{

 background-image:url("./ChatGPT\ Image\ 27\ jul\ 2026\,\ 02_05_43\ p.m..png");
 background-size:cover;
 background-position:center;
 background-repeat:no-repeat;

}

.lightning-theme{

 background-image:url("oscuridadfondo.png");
 background-size:cover;
 background-position:center;
 background-repeat:no-repeat;
}

.nature-theme{

 background-image:url("./fondobosque.png");
 background-size:cover;
 background-position:center;
 background-repeat:no-repeat;
}

.dark-theme{

 background-image:url("fondo oscuridad.png");
 background-size:cover;
 background-position:center;
 background-repeat:no-repeat;
}

.light-theme{

 background-image:url("fondo luz.png");
 background-size:cover;
 background-position:center;
 background-repeat:no-repeat;

}

.info{

margin-top:50px;

}

.flip{
    transform:rotateY(180deg);
}

.card:active{
    transform:scale(.8);
}

.power{
    position:relative;
}
.power.active::before{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(255, 215, 0, 0.25);

    pointer-events:none;

    animation:pulse 1s infinite alternate;

}


@keyframes pulse{

    from{
        opacity:.3;
    }

    to{
        opacity:.8;
    }

}

/*.card-inner.selected .back::after{

    content:"";

    position:absolute;

    inset:-5px;

    border:4px solid gold;

    pointer-events:none;

}
    */

.back.fire-back::before{

    content:"";

    position:absolute;

    inset:0;

    background-image:url("./fuego insignia.png");

     background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    bottom:20%;
    z-index:1;

}

.back.ice-back::before{

    content:"";

    position:absolute;

    inset:0;

    background-image:url("Emblema de copo de nieve pixelado.png");

     background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    bottom:20%;
    z-index:1;

}

.back.lightning-back::before{

    content:"";

    position:absolute;

    inset:0;

    background-image:url("Rayo eléctrico en un fondo oscuro.png");

     background-size:120%;
    background-position:center;
    background-repeat:no-repeat;
    bottom:20%;
    z-index:1;

}

.back.nature-back::before{

    content:"";

    position:absolute;

    inset:0;

    background-image:url("Hoja verde luminosa en pixel art.png");

    background-size:120%;
    background-position:center;
    background-repeat:no-repeat;
    bottom:20%;
    z-index:1;

}

.back.dark-back::before{

    content:"";

    position:absolute;

    inset:0;

    background-image:url("Orbe oscuro con energía púrpura.png");

    background-size:120%;
    background-position:center;
    background-repeat:no-repeat;
    bottom:20%;
    z-index:1;
}
.back.light-back::before{

    content:"";

    position:absolute;

    inset:0;

    background-image:url("Estrella radiante en arte pixelado-Photoroom.png");

     background-size:120%;
    background-position:center;
    background-repeat:no-repeat;
    bottom:20%;
    z-index:1;

}

.portal h1.fire-title{
    color:#eee8e8;
}

.portal h1.ice-title{
    color:rgb(10, 12, 32);
}

.portal h1.lightning-title{
    color:rgb(230, 230, 230);
}

.portal h1.nature-title{
    color:rgb(32, 24, 19);
}

.portal h1.dark-title{
    color:rgb(230, 230, 230);
}

.portal h1.light-title{
    color:rgb(65, 46, 46);
}